<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">
      <h3 class="text-info text-opacity-25">投稿一覧</h3>
      <p>< <%= @posts.count %>件 / 全<%= @post_all.count %>件の投稿 ></p>
    </div>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th class="border-dark table-active">投稿者</th>
          <th class="border-dark table-active">タイトル</th>
          <th class="border-dark table-active">投稿文</th>
          <th class="border-dark table-active">コメント</th>
          <th class="border-dark table-active">いいね</th>
          <th class="border-dark table-active">投稿日時</th>
          <th class="border-dark table-active"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= image_tag post.user.get_profile_image, class: "rounded-circle", size: "40x40"  %>
              <p><%= post.user.name %></p>
            </td>
            <td><%= post.title.truncate(10) %></td>
            <td><%= post.text.truncate(15) %></td>
            <td><%= post.comments.count %>件</td>
            <td>♡<%= post.favorites.count %></td>
            <td><%= post.created_at.strftime('%Y/%m/%d  %H:%M') %></td>
            <td><%= link_to '詳細', admin_post_path(post.id), class:"btn btn-outline-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div><%= paginate @posts %></div>
  </div>
</div>