<div class="container px-5 px sm-0">
  <div class="row mt-5">
    <h2>マイページ</h2>
  </div>
  <div class="row mt-3">
    <div class = "col-4">
      <!-- ユーザーの詳細 -->
      <h4>登録情報</h4>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, class: "rounded-circle", size: "150x150"  %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100", id: "profile_img"  %>
      <% end %>

      <div>
        <label>名前</label>
      </div>
      <div >
        <%= @user.name %>
      </div>
      <div>
      <label >自己紹介文</label>
      </div>
      <div>
        <%= @user.introduction %>
      </div>
      <div>
        <% if current_user == @user %>
          <%= link_to "編集する", edit_user_path(@user), class: 'btn btn-outline-success' %>
          <%= link_to "いいね一覧︎",favorites_path(@favorites),class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
      <% if @user.id != current_user.id %>
        <!--既にroomがある場合（以前にDMのやりとりしている）-->
        <% if @isRoom == true %>
          <%= link_to "DMする", room_path(@roomId) %>
        <!--roomがない場合-->
        <% else %>
          <!--RoomとEntry2つのモデルにデータを送る-->
          <%= form_with model:@room, local: true do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
  　</div>

    <div class = "col-8">
      <!-- ユーザーの投稿一覧 -->
      <h2>投稿一覧</h2>
      <% @post.each do |post| %>
        <p>投稿画像</p>
        <% if post.image.attached? %>
          <%= image_tag post.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
        <p>タイトル：<%= post.title %></p>
        <p>投稿文：<%= post.text %></p>
        <p><%= post.comments.count %>コメント数</p>
        <p><%= post.favorites.count %> いいね数</p>
      <% end %>
    </div>
  </div>
</div>