<div class="container px-5 px sm-0">
  <div class="row my-5">
   <div class="col-md-4">
    <h2 class="text-info text-opacity-25">マイページ</h2>
      <!-- ユーザーの詳細 -->
      <h4>登録情報</h4>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, class: "rounded-circle", size: "150x150"  %>
      <% else %>
        <%= image_tag 'no_image', size: "150x150", id: "profile_img"  %>
      <% end %>

      <div class="mt-3">
        <label>◎名前</label>
      </div>
      <div >
        <%= @user.name %>
      </div>
      <div>
      <label class="mt-2">◎自己紹介文</label>
      </div>
      <div>
        <%= @user.introduction %>
      </div>
      <div class="mt-3">
        <% if current_user == @user %>
          <%= link_to "編集する", edit_user_path(@user), class: 'btn btn-outline-success' %>
          <%= link_to "いいね一覧︎",favorites_path(@favorites),class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
      <% if @user.id != current_user.id %>
        <!--既にroomがある場合（以前にDMのやりとりしている）-->
        <% if @isRoom == true %>
          <%= link_to "DMする", room_path(@roomId) %>
        <!--roomがない場合-->
        <% else %>
          <!--RoomとEntry2つのモデルにデータを送る-->
          <%= form_with model:@room, local: true do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
  　</div>

    <div class = "col-md-8">
      <!-- ユーザーの投稿一覧 -->
      <h2 class="text-info text-opacity-25">投稿一覧</h2>
      <p><全<%= @posts.count %>件の投稿></p>
       <table class="table table-hover table-inverse">
        <thead>
          <tr>
        <th class="border-dark table-active">投稿画像</th>
        <th class="border-dark table-active">タイトル</th>
        <th class="border-dark table-active">投稿文</th>
        <th class="border-dark table-active">コメント</th>
        <th class="border-dark table-active">いいね</th>
        </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <% if post.image.attached? %>
                  <%= image_tag post.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
              </td>
              <td><%= link_to post_path(post.id) do %><%= post.title.truncate(10) %><% end %></td>
              <td><%= post.text.truncate(10) %></td>
              <td><%= link_to "#{post.comments.count}件", post_path(post.id) %></td>
              <td>
                <% if post.favorited_by?(current_user) %>
                  <p>
                    <%= link_to post_favorite_path(post), method: :delete do %>
                      ♥<%= post.favorites.count %>
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to post_favorite_path(post), method: :post do %>
                      ♡<%= post.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div><%= paginate @posts %></div>
    </div>
  </div>
</div>