<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">

    <!--タグリスト-->
<% @tag_list.each do |list|%>
<%=link_to list.name,search_tag_path(tag_id: list.id) %>
<%="(#{list.posts.count})" %><% end %>

      <h3>投稿一覧</h3>
    </div>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>投稿文</th>
          <th>コメント</th>
          <th>いいね</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to user_path(post.user.id) do %>
                <%= image_tag post.user.profile_image, class: "rounded-circle", size: "40x40"  %>
                <p><%= post.user.name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to post_path(post.id) do %>
                <%= post.title %>
              <% end %>
            </td>
            <td><%= post.text %></td>
            <td><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></td>
            <td>
              <% if post.favorited_by?(current_user) %>
                <p>
                  <%= link_to post_favorite_path(post), method: :delete do %>
                    ♥<%= post.favorites.count %> いいね
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to post_favorite_path(post), method: :post do %>
                    ♡<%= post.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>