<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">
    <h3 class="section-ttl text-center text-blue pt-4 pb-3">投稿フォーム</h3>
      <%= form_with model:@post,local:true do |f| %>
        <div class="form-group">
        <%#= f.label :画像 %>
        <%#= f.file_field :images, multiple: true %>
        <%=f.file_field :image, acoept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title, class: 'form-control post_title' %>
        </div>
        <div class="form-group">
          <%= f.label :投稿文 %>
          <%= f.text_area :text, class: 'form-control post_body' %>
        </div>

        <div class="form-group">
          <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
          <%= f.text_field :name,value: @tag_list,class:"form-control"%>
        </div>

        <%= f.select :place_id, options_from_collection_for_select( Place.all, :id, :name),include_blank: "都道府県を選択" %>
        <%#= f.select :genre_id, options_from_collection_for_select( Genre.all, :id, :name),include_blank: "ジャンルを選択" %>

        <div class="text-center">
          <%= f.submit "投稿", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>