
  <h2>人気の投稿</h2>
<%= form_with url: ranking_posts_path, method: :get, local: true do |f| %>
  <%= f.select :place_id, options_from_collection_for_select( Place.all, :id, :name), include_blank: "都道府県を選択" %>
  <%= f.submit "検索"%>
<%end%>
<!--配列の1つ目から順に1位、２位と表示される-->
<%  @favorite_ranks.each.with_index(1) do |post, i| %>
  <p>第<%= i %>位</p>
:
<!--表示したいカラム-->
:<td>
  <%= link_to post_path(post.id) do %>
  　<%= post.title %>
  <% end %>
</td>

<% end %>
</div>