<div class="container">
  <h2 class="text-info text-opacity-25">タグが 『 <%= @tag.name %> 』 の投稿一覧</h2>

  <!--タグリスト-->
  <div>[その他のタグ]</div>
  <% @tag_list.each do |list|%>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %>
  <% end %>
  <div class="row my-2">
    <div class="col-md-9">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="border-dark table-active">投稿者</th>
            <th class="border-dark table-active">タイトル</th>
            <th class="border-dark table-active">投稿文</th>
            <th class="border-dark table-active">コメント</th>
            <th class="border-dark table-active">いいね</th>
            <th class="border-dark table-active">投稿日時</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to user_path(post.user.id) do %>
                  <%= image_tag post.user.get_profile_image, class: "rounded-circle", size: "40x40"  %>
                  <p><%= post.user.name %></p>
                <% end %>
              </td>
              <td>
                <%=link_to post_path(post.id) do %>
                  <!--タイトル表示される文字数は２５文字までにしてます-->
                  <%= post.title.truncate(25) %>
                <% end %>
              </td>
              <td><%= post.text %></td>
              <td><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></td>
              <td id='favorite_buttons_<%= post.id %>'>
                <%= render 'user/favorites/favorites', post: post%>
              </td>
              <td><%= post.created_at.strftime('%Y/%m/%d  %H:%M') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>