<div class="container">
  <div class="row my-3">
    <div class="col-md-7"></div>
  </div>

  <div class="row">
    <div class="col-12">
      <!--タグ-->
      <% @post_tags.each do |tag| %>
      <%= link_to tag.name,search_tag_path(tag_id: tag.id)%>
      <%="(#{tag.posts.count})" %>
      <% end %>

      <h2 class="text-info text-opacity-25">投稿詳細画面</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-1 border-bottom">
      <%= link_to user_path(@post.user.id) do %>
        <%= image_tag @post.user.get_profile_image, class: "rounded-circle", size: "60x60"  %>
        <p><%= @post.user.name %></p>
      <% end %>
    </div>
    <div class="col-8 border-bottom mt-4">
      <h2>『<%= @post.title %>』</h2>
    </div>
    <div class="col-3 border-bottom mt-4">
      <% if @user == current_user %>
        <%= link_to "編集する",edit_post_path(@post.id), class: 'btn btn-outline-success' %>
        <%= link_to "投稿削除",post_path(@post.id),method: :delete, "data-confirm" => "本当に削除しますか？",class: 'btn btn-outline-danger' %>
      <% end %>
    </div>
  </div>

  <div class="row mx-5 mt-2">
    <h5><%= @post.text %></h5>
  </div>

  <div class="row mx-5 mt-2">
    <%= image_tag @post.get_image, size: "400x400" %>
  </div>

  <div class="row mx-5 mt-2">
    <p>場所：<%= @post.place.name %></p>
  </div>
  <div class="row mx-5 mt-2">
    <p>
      タグ：<% @post_tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </p>
  </div>

  <div class="row mx-5 mt-2">
    <div id='favorite_buttons_<%= post.id %>'>
      <%=render 'user/favorites/favorites',post: post%>
    <div>
  </div>

  <div class="row mx-5">
    <p>コメント件数：<%= @post.comments.count %></p>
  </div>

  <div class="row mx-5 mt-2">
    <table class="table table-sm">
      <tbody>
        <% @post.comments.each do |comment| %>
          <tr>
            <td>
              <%= image_tag comment.user.get_profile_image, class: "rounded-circle", size: "30x30" %>
              <p><%= comment.user.name %></p>
            </td>
            <td><%= comment.comment %> </td>
            <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <% if comment.user_id == current_user.id %>
                <%= link_to 'コメントを削除', post_comment_path(@post,comment), data: {confirm: '本当に削除しますか？'}, method: :delete %>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row mx-5">
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_area :comment, rows: '3', placeholder: "コメントを入力する" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>